body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.7; 
  color: $dark-grey;
}

.App__header-box {
  .header{
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 22%;
    left: 50%;
    z-index: 999; //higher than map default z-index
    .heading-primary{
      color: $white;
      font-size: 3rem;
      font-weight: 500;
      padding: 2rem;
    }
  }
  .info{
    width: 100rem;
    border-radius: 1.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color:$white;
    display: inline-block;
    padding: 2rem;
    span {
      color: $grey;
      display: block;
      font-size: 1.5rem;
      letter-spacing: .3rem;
    }
  }
  .header__input{
    display: inline-block;
    margin-bottom: 3rem;
    width: 40vw;
    height: 6rem;
  }
  input {
    width: 90%;
    height: 100%;
    border-radius: 1.5rem 0 0 1.5rem;
    border: none;
    padding: 0 3rem;
    font-size: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    &:hover{
      cursor: pointer;
    }
  }
  .btn--form {
    width: 10%;
    height: 100%;
    border-radius: 0 1.5rem 1.5rem 0;
    border: none;
    background-color: $dark-grey;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    &:hover{
      cursor: pointer;
      background-color: lighten($dark-grey, 10%);
      transition: background-color .2s;
    }
  }
  .icon {
    color: $white;
  }
}

[class*="info-box--"] {
  font-size: 1.8rem;
  font-weight: 500;
}

@media (min-width: 320px) and (max-width: 480px) {
  .App__header-box {
    .header {
      margin-top: 2rem;
      .heading-primary{
       font-size: 2.8rem;
      }
      .header__input{
        width: 90vw;
      }
    }
    .info{
      width: 80vw;
      span {
        display: block;
        font-size: 1rem;
        letter-spacing: .1rem;
      }
    }
    input {
      width: 80%;
    }
    .btn--form{
      width: 20%;
    }
  }
  
  [class*="info-box--"] {
    font-size: 1.5rem;
    font-weight: 500;
  }
}