.headerWrapper{
  width: 100vw;
  height: 30vh;
  background: url("../../images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  top: 0;
  z-index: 0; */
}
.headerWrapper form{
  position: relative;
  top: 5%;
}

.title {
  color:white;
  font-weight: 500;
  text-align: center;
  font-size: 30px;
}

.inputWrapper{
  height: 40px;
  width: 32vw;
}

.ipInput{
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
}

.headerWrapper button {
  height: 100%;
  width: 10%;
  border: none;
  border-radius: 0px 10px 10px 0px;
  background: hsl(0, 0%, 17%);
}

.arrowIcon {
  width: 20px;
  height: 20px;
}



